<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
    <!--<title>JOTTO</title>-->
<!--</head>-->
<!--<center>-->
<!--<body style = "background: #C6C5B9">-->
<!--<div class="myHeader" style=" position: fixed;-->
  <!--left: 0;-->
  <!--top: 0;-->
  <!--width: 100%;-->
  <!--background-color: #132A13;-->
  <!--color: white;-->
  <!--height: 50px;-->
  <!--text-align: center;"></div>-->



<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>JOTTO</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class = "row">
    <h1 class = "display-1">Welcome to JOTTO!</h1>
        </div>
        <div class = "row">
            <p class="lead">
                Jotto is a logic-oriented word game played with two players. Each player starts by writing down a secret 5-letter word.
                Then, each player takes turns guessing 5-letter words. For each guess, the player is given the number of letters in the secret word.
                Try to guess the opponent's secret word!
            </p>
        </div>
        <div class = "row">
            <div class = "col-sm">
    <a th:href="@{/game}">Play New Game</a>
            </div>
            <div class = "col-sm">
        <a th:href="@{/past}">Past Game Results</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--<h1 style="padding-top: 75px; font-size: 30px">Welcome to JOTTO!</h1>-->
<!--<div class="fadeIn first" >-->
    <!--<img src="https://is2-ssl.mzstatic.com/image/thumb/Purple128/v4/14/b5/a4/14b5a4c7-24dc-6b47-5683-9868b62a975d/mzl.asyxnwxi.png/246x0w.jpg" id="icon" alt="Jotto" />-->
<!--</div>-->


<!--<a th:href="@{/game}" style="font-size: 20px">Play New Game</a>-->
<!--<a th:href="@{/past}" style="font-size: 20px">View Past Game Results</a>-->

<!--<div class="myFooter" style=" position: fixed;-->
  <!--left: 0;-->
  <!--bottom: 0;-->
  <!--width: 100%;-->
  <!--background-color: #132A13;-->
  <!--color: white;-->
  <!--height: 50px;-->
  <!--text-align: center;"></div>-->
<!--</body>-->


<!--</center>-->
<!--</html>-->